@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&family=Poppins:wght@400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.topping{
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    background-color: rgb(237, 252, 254);
    width: 100%;
}
.file-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.top-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.menus{
    list-style: none;
    cursor: pointer;
    font-size: .8em;
}
#export-btn {
    background:  rgb(49, 183, 203);
    color: white;
    border: none;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    font-size: .7em;
}
.engagement{
    width: 98%;
    padding: 0px 20px 10px 20px;
    margin: 0 10px;
    border-radius: 25px;
    background-color: rgb(212, 249, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    padding-top: 10px;
    height: 2.5em;
}
.sheet{
    width: 100%;
    height: 100%;
    margin-top: 90px;
    overflow: scroll;
}
.cell-row {
    display: flex;
}
.cell-line{
    background-color: rgb(237, 252, 254);
    width: 100%;
    display: flex;
    font-size: .9em;
}
.cell {
    width: 80px;
    border: 0.2px solid rgba(199, 230, 235, 0.815);
    height: 22px;
    outline: none;
    box-sizing: border-box;
    font-size: .7em;
}
.cell.header {
    text-align: center;
    background:  rgb(237, 252, 254);
}
.cell.header.active {
    background: rgb(171, 240, 250);
    color: rgb(13, 139, 158);
}
.cell:focus {
    background: rgb(237, 252, 254);
    border: 1.5px solid rgb(52, 218, 244);
}
.cell-container{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    width: 100%;
}
.cell-num,
#cell-status{
    font-size: .8em;
    padding-right: 2px;
    color: rgb(18, 151, 172);
}
.cell-num-status{
    width: 5em;
}
.cell-input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 0 5px;
    background-color: rgb(221, 251, 255);
}
.cell-input input{
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    border: none;
    outline: none;
}
.first-eng,
.second-eng,
.forth-eng{
    padding-top: 5px;
    padding-right: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    border-right: 1px solid rgb(132, 138, 138);
    height: 2em;
    margin-right: 5px;
}
.zoom,
.font{
    width: 4em;
    font-size: .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    color: #3b3c3c;
}
.font{
    width: 6em;
}
.font-det{
    width: 5em;
    overflow: hidden;
    color: #3b3c3c;
}
.third-eng{
    display: flex;
    width: 6em;
    justify-content: space-between;
    border-right: 1px solid rgb(132, 138, 138);
    height: 2em;
    gap: 4px;
    margin-right: 5px;
    padding-top: 5px;
    padding-right: 8px;
}
.font-size-det{
    width: 30px;
    height: 25px;
    border: 1px solid #3b3c3c;
    border-radius: 5px;
    font-size: .8em;
    margin: 0 2px;
}
.forth-eng{
    gap: 10px;
}
.minus{
    padding: 0 5px 1px 0;
}
.plus{
    padding-top: 2px;
}
.strikethrough{
    padding-top: 2px;
    cursor: pointer;
}
.bold, 
.italics,
.plus,
.minus,
.search-icon,
.backward,
.forward,
.print,
.zoom{
    cursor: pointer;
}
.text-color{
    color: #3b3c3c;
    flex-direction: column; 
    font-weight: bold;  
    line-height: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    padding: 0 5px;
}
#t-color{
    width: 17px;
    height: 4px;
    border-radius: 3px;
    background-color: #3b3c3c;
}